name: event_manager
description: "A new Flutter project."
publish_to: 'none' 
version: 1.0.0+1

environment:
  sdk: ^3.9.0
dependencies:
  flutter:
    sdk: flutter
  flutter_gen: ^5.12.0
  flutter_localizations:
    sdk: flutter
  intl: ^0.20.2
  localstore: ^1.4.0
  syncfusion_flutter_calendar: ^31.2.5


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  generate: true
